<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <title>Swiyu IdentityServer</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
@{
#nullable enable
    var topRowName = Context.User?.Identity?.IsAuthenticated == true ? Context.User.Identity.Name : null;
}
<div class="page">
    <div class="sidebar">
        <partial name="_Nav"/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (topRowName != null)
            {
                <span class="top-row-username">@topRowName</span>
                <a class="top-row-link" asp-page="/Account/Logout/Index">Logout</a>
            }
        </div>

        <article class="content px-4 body-container">
            @RenderBody()
        </article>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>