@page
@model Idp.Swiyu.Passkeys.Sts.Pages.Swiyu.IdentityAlreadyVerifiedModel
@{
}

<h3>
    <img src="~/swiyu.png" class="logo">
    identity from Switzerland
</h3>

<p>Your account has an swiyu identity already attached. You cannot add a new one.</p>

