@page
@model Idp.Swiyu.Passkeys.Sts.Pages.Swiyu.IdentityCheckCompleteModel
@{
}

<h3>
    <img src="~/swiyu.png" class="logo">
    Swiss identity
</h3>

<p>Your identity has been successfully verified.</p>

<p>Please logout and login again to use verified account</p>