@page
@model Idp.Swiyu.Passkeys.Sts.Pages.Swiyu.RegisterModel
@{
    ViewData["Title"] = "Register Swiyu public Beta-ID";
}

<div class="container my-5">
    <div class="row justify-content-center" id="verifiedDataButton">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary-card text-white">
                    <h4 class="mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <div>
                        <form method="post">
                            <button type="submit" class="btn btn-outline-dark">Verify your swiyu public Beta-ID</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a href="https://www.bcs.admin.ch/bcs-web/">Get your swiyu public Beta-ID credentials here</a>
                    </div>
                  
                </div>
                <div class="card-footer">
                  
                    <div>
                        <a href="https://www.eid.admin.ch/de/public-beta">Download swiyu wallet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4" id="verifiedDataCard" style="display:none">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary-card text-white">
                    <h4 class="mb-0">Verified swiyu public Beta-ID data:</h4>
                </div>
                <div class="card-body">
                    <div id="verifiedData"></div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.QrCodePng.Length > 0)
    {
        <div class="row justify-content-center mt-4" id="qrCodeImage">
            <div class="col-md-8 text-center">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">QR Code</h5>
                        <img alt="qr code" width="300" src="data:image;base64,@System.Convert.ToBase64String(Model.QrCodePng)" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.VerificationId != null)
    {
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <div class="mb-3">
                            @* person-fill-check *@
                            <div id="SUCCESS" style="display:none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"></path>
                                </svg>
                            </div>

                            @* person-fill-add *@
                            <div id="PENDING">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                                </svg>
                            </div>

                            @* person-fill-gear *@
                            <div id="FAILED" style="display:none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-exclamation" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                                </svg>
                            </div>

                            <div id="PROBLEM" style="display:none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-exclamation" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                                </svg>
                            </div>
                        </div>
                        <div id="message" class="fs-5 mb-3"></div>
                        <input type="hidden" id="verificationId" value="@Model.VerificationId" />
                        <a class="btn btn-link" href="@Model.QrCodeUrl">Verification URL</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/register-swiyu.js"></script>
}
